DATABASE_URL="postgresql://root:1234@db:5432/allocation-db?schema=public&connect_timeout=300"

# unccoment for local development
# SERVER_URL="http://host.docker.internal:8000"
# comment out for local development
SERVER_URL="http://matching-service:8000"

# should be LOCAL for local development or PROD for production
DEV_ENV="LOCAL"

DEV_A_ID="SECRET"
DEV_A_EMAIL="SECRET"

DEV_P_ID="SECRET"
DEV_P_EMAIL="SECRET"