name: "spa"

services:
  db:
    image: postgres:latest
    ports:
      - "6565:5432"
    volumes:
      - spa-db-data:/var/lib/postgres/data/
    environment:
      POSTGRES_USER: "root"
      POSTGRES_PASSWORD: "1234"
      POSTGRES_DB: "allocation-db"
      POSTGRES_HOST_AUTH_METHOD: "trust"

    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5

    networks:
      - spa-network

  matching-service:
    image: pkitazos/matching-service:amd64

      
networks:
  spa-network:

volumes:
  spa-db-data:
